---
import Profile from "@/components/profile.astro";
import About from "@/components/sections/about.astro";
// import Experience from "@/components/sections/experience/experience.astro"; // <-- Line removed
import Pattern from "@/components/ui/pattern.astro";
---

<div id="about-me-view">
  <Pattern className="h-14" />
  <Profile />
  <Pattern />
  <About />
  <Pattern />
  {/* <-- Component removed */}
  {/* <-- Line removed */}
</div>