---
import Box from "@/components/box/index.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxContent from "@/components/box/content.astro";
import { EXPERIENCES } from "@/lib/constants/experience";
// Import the new accordion item wrapper
import ExperienceAccordionItem from "./experience-accordion-item.astro";
---

<Box id="experience">
  <BoxHeader>
    <BoxTitle> Experience </BoxTitle>
  </BoxHeader>
  <BoxContent class="px-0"> {/* Removed padding-x from content */}
    <div class="flex w-full flex-col"> {/* Added flex container */}
      {
        EXPERIENCES.map(experience => (
          experience.positions.map(position => (
            <ExperienceAccordionItem companyName={experience.company} position={position} />
          ))
        ))
      }
    </div>
  </BoxContent>
</Box>