---
import { getFormattedDate } from "@/lib/utils";
import type { Position } from "@/lib/types";
import { Marked } from 'marked';

interface Props {
  position: Position;
}

const { position } = Astro.props;

// We will parse the markdown content here directly
const renderedDescription = new Marked().parse(position.description);
---

<div class="flex select-none flex-col">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold">{position.title}</h3>
    <p class="text-sm font-medium text-muted-foreground">
      {getFormattedDate(position.startDate)} - {position.endDate ? getFormattedDate(position.endDate) : "Present"}
    </p>
  </div>
  <div class="prose" set:html={renderedDescription} />
</div>