---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer.astro";
import AboutMeView from "@/components/views/about-me.astro";
import ProjectsView from "@/components/views/projects.astro";
import ExperienceView from "@/components/views/experience.astro";
---

<Layout title="Shahrez Ahmad">
  <Navbar />

  <main
    aria-label="Main content"
    class="mx-auto min-h-[calc(100vh-120px)] max-w-3xl"
  >
    <AboutMeView />
    <ProjectsView />
    <ExperienceView />
  </main>

  <Footer />
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const views = {
      '#about-me': document.getElementById('about-me-view'),
      '#projects': document.getElementById('projects-view'),
      '#experience': document.getElementById('experience-view')
    };
    const navLinks = document.querySelectorAll('.nav-link');

    const handleRouteChange = () => {
      window.scrollTo(0, 0);
      const hash = window.location.hash || '#about-me';
      
      Object.values(views).forEach(view => {
        if (view) view.style.display = 'none';
      });
      if (views[hash]) {
        views[hash].style.display = 'block';
      }

      navLinks.forEach(link => {
        if (link.getAttribute('href') === hash) {
          link.classList.add('bg-secondary');
        } else {
          link.classList.remove('bg-secondary');
        }
      });

      // Dispatch the custom event to notify other components of the view change
      document.dispatchEvent(new CustomEvent('viewchange'));
    };

    handleRouteChange();

    navLinks.forEach(link => {
      link.addEventListener('click', (e) => {
        const targetHash = new URL(link.href).hash;
        if (views[targetHash]) {
          e.preventDefault();
          window.history.pushState({}, '', targetHash);
          handleRouteChange();
        }
      });
    });

    window.addEventListener('popstate', handleRouteChange);
  });
</script>