---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  ]}
>
  <div
    class="mx-auto flex h-12 max-w-3xl items-stretch justify-end px-4 md:border-x"
  >
    <div class="flex items-stretch justify-center">
      <NavLinks />
      <div class="flex items-center pl-4">
        <ModeToggle />
      </div>
    </div>
  </div>
</nav>