---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
  ]}
>
  <div
    class="mx-auto flex h-10 max-w-3xl items-stretch justify-end px-4 md:border-x"
  >
    <div class="flex items-stretch justify-center">
      <NavLinks />
      <div class="flex items-center pl-2"> {/* Use items-center to stop stretching */}
        <div id="theme-toggle-nudge-wrapper">
          <ModeToggle />
        </div>
      </div>
    </div>
  </div>
</nav>