---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";
import { cn } from "@/lib/utils";

const pathname = Astro.url.pathname;
const isExperienceActive = pathname.startsWith('/Portfolio/articles');
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
  ]}
>
  <div
    class="mx-auto flex h-12 max-w-3xl items-stretch justify-end px-4 md:border-x"
  >
    <div class="flex items-stretch justify-center">
      <NavLinks />
      <div class="flex w-12 items-center justify-center">
        <div class={cn(isExperienceActive && "relative left-2")}>
          <ModeToggle />
        </div>
      </div>
    </div>
  </div>
</nav>