---
import { NAV_LINKS } from "@/lib/constants/index";
import { cn } from "@/lib/utils";
---

<div class="flex h-full items-stretch justify-center">
  {
    NAV_LINKS.map(link => (
      <a
        href={link.href}
        data-nav-link={link.href}
        class={cn(
          "nav-link relative flex items-center justify-center px-3 text-xs font-medium text-primary transition-colors duration-150 hover:bg-secondary lg:text-sm"
        )}
      >
        {link.label}
      </a>
    ))
  }
</div>