---
import { ChevronUp } from "lucide-react";
import { buttonVariants, cn } from "@/lib/utils";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector("#back-to-top");
    if (!button) return;

    function handleScroll() {
      if (window.scrollY < window.innerHeight) {
        button.classList.add("scale-0");
      } else {
        button.classList.remove("scale-0");
      }
    }

    function smoothScrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    // Add the click event listener for smooth scrolling
    button.addEventListener("click", smoothScrollToTop);

    // Handle showing/hiding the button
    handleScroll();
    window.addEventListener("scroll", handleScroll);
  });
</script>

<button
  id="back-to-top"
  aria-label="back-to-top-button"
  title="Back to Top Button"
  class={cn(
    buttonVariants({ size: "icon" }),
    "fixed right-4 bottom-[4rem] scale-0 z-50 cursor-pointer duration-150 transition-transform rounded-full lg:left-[calc(100vw/2+400px)]"
  )}
>
  <ChevronUp />
</button>