---
import Pattern from "@/components/ui/pattern.astro";
import PageLayout from "@/layouts/page-layout.astro";
import Box from "@/components/box/index.astro";
import { getCollection } from "astro:content";
import ProjectItem from "@/components/sections/projects/project-item.astro";

const projects = await getCollection("projects");
---

<PageLayout
  description="A collection of things I’ve built, full-stack apps, experiments, and side projects."
  title="My Projects"
>
  <div class="my-8 flex w-full justify-center px-4 md:border-x">
    <input
      type="text"
      id="project-search-bar"
      placeholder="Search projects by name, technology, etc..."
      class="w-full max-w-lg rounded-md border border-gray-300 px-4 py-2 text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
    />
  </div>

  <Pattern />
  <Box>
    <div id="projects-list">
      {projects.map(item => <ProjectItem project={item} />)}
    </div>
    <div id="no-results-message" class="hidden p-4 text-center text-muted-foreground">
      No Projects Found
    </div>
  </Box>
  <Pattern />
</PageLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const searchBar = document.getElementById('project-search-bar');
    const projects = document.querySelectorAll('.project-item');
    const noResultsMessage = document.getElementById('no-results-message');

    if (searchBar && projects.length > 0 && noResultsMessage) {
      searchBar.addEventListener('input', (e) => {
        const searchTerm = (e.target as HTMLInputElement).value.toLowerCase();
        let visibleProjectsCount = 0;

        projects.forEach(project => {
          const projectElement = project as HTMLElement;
          const projectText = projectElement.textContent?.toLowerCase() || '';

          if (projectText.includes(searchTerm)) {
            projectElement.style.display = 'flex';
            visibleProjectsCount++;
          } else {
            projectElement.style.display = 'none';
          }
        });

        if (visibleProjectsCount === 0) {
          noResultsMessage.style.display = 'block';
        } else {
          noResultsMessage.style.display = 'none';
        }
      });
    }
  });
</script>